---
layout: default
title: Songs Featured in Gone with the Wind by Dr.Solo
---

<div class="uk-container uk-container-small uk-margin-medium-top">
	<div class="uk-flex uk-flex-center uk-grid" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">
				<h3 class="uk-card-title">Music Playlists</h3>
	            <p><em>Gone with the Wind</em> often features characters performing actual songs in the series. This page lists the music tracks that have been referenced and featured in the story in chronological order. </p>
	            
			</div>
		</div>
	</div>
</div>


<!-- Playlist -->
<div class="uk-container uk-margin-large uk-text-center">
	<div class="uk-child-width-auto uk-child-width-auto@m uk-flex uk-flex-center" uk-grid="masonry: true" uk-lightbox>
		{% assign playlists = site.data.playlists | sort %}

		{% for playlist_hash in playlists %}
		{% assign playlist = playlist_hash[1] %}

		{% for song in playlist.songs %}

		<div>
			<a class="uk-card uk-card-default uk-card-body uk-border-rounded uk-padding-small uk-link-toggle" href="https://www.youtube-nocookie.com/watch?v={{ song.video }}" data-caption="{{ song.artist }} - {{ song.title }} ({{ song.year }}) on YouTube">
			    <h1 class="year-namecard uk-text-right uk-margin-large-left">{{ song.year }}</h1>
	            <h3 class="uk-card-title uk-text-left"><span class="uk-link-heading">{{ song.title }}</span></h3>
	            <p class="uk-text-meta uk-text-left">{{ song.artist }} <em class="uk-float-right uk-margin-small-left">Ch.{{ song.novel }}</em></p>
			</a>
		</div>

		{% endfor %}

		{% endfor %}

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2013</h1>
			            <h3 class="uk-card-title uk-text-left">Young and Beautiful</h3>
			            <p class="uk-text-meta uk-text-left">Lana Del Rey</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">1994</h1>
			            <h3 class="uk-card-title uk-text-left">Live Forever</h3>
			            <p class="uk-text-meta uk-text-left">Oasis</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2010</h1>
			            <h3 class="uk-card-title uk-text-left">Illuminated</h3>
			            <p class="uk-text-meta uk-text-left">Hurts</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2010</h1>
			            <h3 class="uk-card-title uk-text-left">Silver Lining</h3>
			            <p class="uk-text-meta uk-text-left">Hurts</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2010</h1>
			            <h3 class="uk-card-title uk-text-left">The Water</h3>
			            <p class="uk-text-meta uk-text-left">Hurts</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2009</h1>
			            <h3 class="uk-card-title uk-text-left">Last Night On Earth</h3>
			            <p class="uk-text-meta uk-text-left">Green Day</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2004</h1>
			            <h3 class="uk-card-title uk-text-left">Boulevard of Broken Dreams</h3>
			            <p class="uk-text-meta uk-text-left">Green Day</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2005</h1>
			            <h3 class="uk-card-title uk-text-left">Lake and Ocean</h3>
			            <p class="uk-text-meta uk-text-left">The Coral Sea</p>
			        </div>
			    </div>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-border-rounded">
			    <div>
			        <div class="uk-card-body uk-padding-small">
			            <h1 class="year-namecard uk-text-right uk-margin-large-left">2018</h1>
			            <h3 class="uk-card-title uk-text-left">Vulnerable</h3>
			            <p class="uk-text-meta uk-text-left">Yoga Lin</p>
			        </div>
			    </div>
			</div>
		</div>
		
	</div>
</div>