<footer class="uk-container uk-padding uk-light">
	<div>
		<hr class="uk-divider-icon">
	</div>
	<div class="uk-text-center">
		<img src="{{"/img/westwind-logo.jpg" | relative_url }}" class="westwind-logo uk-blend-lighten" alt="Logo of the West Wind underground music band." width="150" uk-img>
		<div class="uk-margin-top">Dr.Solo <span uk-icon="icon: tiktok"></span> {{ 'now' | date: "%Y" }}</div>
	</div>
</footer>

<div class="uk-position-bottom-right uk-margin uk-margin-right uk-position-fixed">
	<a href="#" class="uk-icon-button overlay-blend" uk-totop uk-scroll></a>
</div>