<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}</title>

	<!-- Meta Descriptions -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://qingcuo.github.io/">
	<meta property="og:title" content="Gone with the Wind | 轻错 by Dr.Solo">
	<meta property="og:description" content="A love story with misunderstandings and betrayals, and a lot of music.">
	<meta property="og:image" content="https://qingcuo.github.io/img/banner.jpg">
	<meta name="theme-color" content="#314C5D">

	<meta name="twitter:card" content="summary_large_image">
	<link type="application/json+oembed" href="/oembed.json" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="{{"/css/link.css" | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{"/css/base.css" | relative_url }}">

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap" rel="stylesheet">
</head>